<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Listings</title>
  </head>
  <body>
    <%- include("../partials/_navbarAdmin.ejs") %>
    <h1>here all your listings</h1>
    <ul>
      <% listings.forEach(listing => { %>
      <li>
        A listing in <%= listing.streetAddress %> <%= listing.city %> owned by
        <%= listing.owner.username %>
        <a href="listings/<%= listing.id %>"> view for more details</a>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
