<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Listings</title>
  </head>
  <body>
    <%- include("../partials/_navbarAdmin") %>
    <% movies.forEach((movie,index) => { %>
      <ul>
     <li> <ul>
      <div id='movie<%= index+1 %>'>
      <li><img src="<%= movie.poster %>" alt=""></li>  
      <li> <%= movie.name %></li>  
       <li> <a href="/movies/details/<%= movie._id %>">details</a></li>  
        <li><a href="/movies/<%= bookings[index]._id %>">Book now</a></li>  
    </ul>
      
     </div></li>
     </ul>
    <% }) %>
    </ul>
  </body>
</html>
