<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ul>
      <li><%= movie.name %></li>
      <li>
        <img src="<%= movie.poster %>" alt="" />
      </li>
      <li><%= movie.description %></li>
      <li><a href="/movies/bookings/<%= booking._id %>">book now</a></li>
      <% if (user.role==="admin") { %>
      <li><a href="/movies/<%= movie._id %>/edit">edit</a></li>
      <% } %>
    </ul>
    <ul></ul>
  </body>
</html>
